langchain==0.0.350
langchain_community==0.0.10
gradio==3.39.0
gradio_client==0.3.0
pydantic<2.0,>=1.10
setuptools<81
coloredlogs
ujson
tiktoken
tqdm
inflect
torch
pygments
matplotlib
transformers
trueskill
seaborn
requests
